* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --black: black;
    --ocean: #404BBF;
    --white: #ffffff;
    --slate: #434455;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --green: #31D0AA;
    --lightslate: #8E8F99;
    --navybluemodal: rgba(46, 47, 66, 0.4);
    --grey: #2E2F42;
    --dairy: #FCFCFC;
    --transition-duration: 250ms;
    --animation-timing-function: cubic-bezier(0, .76, .18, 1);
    --o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--navyblue);
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img{
    display: block;
}

input, textarea{
    outline: none;
}

.sub-heading {
    color: var(--navyblue);
    text-align: center;
    font-family: inherit;
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.container{
    max-width: 428px;
    margin: 0 auto;
}

.main-header-container {
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.main-header {
    display: flex;
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
}

.nav-logo {
    color: var(--navyblue);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.1em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.iris {
    color: var(--iris);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header-nav{
    display: inline-flex;
    gap: 76px;
    padding: 24px 0;
}

.nav-menu{
    list-style-type: none;
    display: inline-flex;
    gap: 40px;
}

.nav-list-item{
    position: relative;
}

.nav-list-item-link {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.nav-list-item-link::after{
    content: '';
    height: 4px;
    width: 0;
    background-color: var(--ocean);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -25px;
    transition: var(--transition-duration) var(--animation-timing-function);
}

.nav-list-item:hover .nav-list-item-link::after {
    width: 100%;
    transition: var(--transition-duration) var(--animation-timing-function);
}

.nav-list-item:hover .nav-list-item-link {
    color: var(--ocean);
}

.nav-menu li.active a, .nav-menu li.active a::after {
    color: var(--ocean);
    width: 100%;
}


.address-list{
    list-style-type: none;
    display: inline-flex;
    gap: 40px;
}

.address-item-link {
    color: var(--slate);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.address-item-link:hover,
.address-item-link:focus {
    color: var(--ocean);
}

.hero {
    background-color: var(--navybluemodal);
    background: linear-gradient(50deg, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),  
                url('../images/hero-bg-pic.jfif') no-repeat center, url('../images/hero/hero-mobile-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 188px 0;
}

.hero-heading {
    color: var(--white);
    text-align: center;
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    margin-bottom: 48px;
}

.hero-button {
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    margin: auto;
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.hero-button:hover,
.hero-button:focus {
    border-radius: 4px;
    background: var(--ocean);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.features{
    padding: 120px 0;
}

.features-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 72px;
}

.features-list-item {
    width: 100%;
}

.features-icon{
    display: none;
}

.features-icon .icon{
    height: 64px;
    width: 64px;    
}

.feature-heading {
    color: var(--navyblue);
    font-family: inherit;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    margin: 8px 0px;
}

.feature-description {
    color: var(--slate);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}


.services-container h2{
    display: none;
}

.services-list {
    display: none;
}

.services-img {
    width: 360px;
    height: 360px;
}

.team {
    background-color: var(--cloud);
    padding: 96px 0;
}

.team-member-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px;
    margin-top: 72px;
}

.team-card {
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 264px;
}

.team-member-img {
    width: 264px;
    height: 260px;
}

.tcard-content {
    padding: 32px 0;
}

.team-name {
    color: var(--navyblue);
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.team-description {
    color: var(--slate);
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.trailing-icons-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    gap: 24px;
    margin-top: 8px;
}

.t-icons-list-item{
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    border-radius: 100px;
    padding: 12px;
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.t-icons-list-item:hover{
    background-color: var(--ocean);
    transition: var(--transition-duration) var(--animation-timing-function);
}

.t-icons{
    height: 16px;
    width: 16px;
}

.customers{
    padding: 120px 0;
}

.customers-list-container{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.customers-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    margin-top: 72px;
}

.customers-list-item{
    padding: 16px 40px;
    border-radius: 4px;
    border: 1px solid var(--lightslate);
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.customers-list-item-link{
    color: var(--lightslate);
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.customers-list-item:hover {
    border-color:var(--ocean);
}

.customers-list-item:hover .customers-list-item-link{
    color: var(--ocean);
}

.icon-client{
    display: flex;
    justify-content: center;
    width: 110px;
    height: 56px;
    fill: currentColor;
    transition: all var(--transition-duration) var(--animation-timing-function);
}

/*--Portfolio--*/
.filter-buttons{
    padding: 96px 0 72px;
}

.filter-buttons-container{
    display: flex;
    justify-content: center;
}

.filter-buttons-list {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    gap: 24px;
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.filter-button.active {
    color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--ocean);
    background: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.filter-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);

    /* Button Text */
    color: var(--iris);
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--ocean);
    background: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.projects-main-contents{
    padding-bottom: 96px;
}

.projects-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 32px;
    flex-wrap: wrap;
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.project-card {
    background: var(--white);
    border: 1px solid var(--cornflower);
    transition: box-shadow var(--transition-duration) var(--animation-timing-function);
}

.project-card:hover {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
}

.project-img {
    width: 360px;
    height: 300px;
}

.pcard-content {
    padding: 32px 16px;
    border-top: unset;
}

.project-heading {
    display: flex;
    flex-direction: column;
    color: var(--navyblue);
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.project-type {
    color: var(--slate);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.project-card-figure{
    position: relative;
    overflow: hidden;
}

.project-card-figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.project-card-figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 76, 237, 0.8);
    border-radius: 4px 4px 0px 0px;
    padding: 0 24px;
    color: var(--white);
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 24px;
    transition: transform var(--transition-duration) var(--animation-timing-function);
    transform: translateY(100%);
    will-change: transform;
}

.project-card:hover figcaption {
    transform: translateY(0%);
    transition: all var(--transition-duration) var(--animation-timing-function);
}
/*--End of Portfolio-*/

/*--Footer-*/
.footer {
    background-color: var(--navyblue);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 664px;
    width: 100%;
    padding: 96px 0;
}


.f-container{
    width: 100%;
    list-style: none;
    display: block;
    align-items: center;
    justify-content: center;
}


.footer-container{
    display: flex;
    flex-direction: column;
    gap: 17.5px;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.footer-description {
    width: 264px;
    color: var(--cloud);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.cloud {
    color: var(--cloud);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:16px;
    margin-top: 72px;
}

.footer-header{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    font-size: 16px;
    color: var(--white);
}

.footer-icons-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}

.footer-icons-list-item {
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    border-radius: 100px;
    padding: 8px;
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.footer-icons-list-item:hover {
    cursor: pointer;
    background-color: var(--green);
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.footer-icons-header{
    display: flex;
}

.f-icons{
    height: 24px;
    width: 24px;
}

.footer-subscribe-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
}

.footer-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.footer-form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.footer-form input{
    color: var(--white);
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 0.48px;
    padding: 8px 16px;
    margin: auto;
    width: 398px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid var(--white);
    transition: all var(--transition-duration) var(--o-animation-timing-function);
    
    @media screen and (min-width: 768px) {
        color: var(--white);
        font-family: inherit;
        font-size: 12px;
        font-weight: 400;
        line-height: 2em;
        letter-spacing: 0.48px;
        padding: 8px 16px;
        margin-right: auto;
        width: 270px;
        background: transparent;
        border-radius: 4px;
        border: 1px solid var(--white);
        transition: all var(--transition-duration) var(--o-animation-timing-function);
    }

    @media screen and (min-width: 1158px) {
        color: var(--white);
        font-family: inherit;
        font-size: 12px;
        font-weight: 400;
        line-height: 2em;
        letter-spacing: 0.48px;
        padding: 8px 16px;
        margin-right: 24px;
        width: 264px;
        background: transparent;
        border-radius: 4px;
        border: 1px solid var(--white);
        transition: all var(--transition-duration) var(--o-animation-timing-function);
    }

}

.footer-form-group input:hover{
    border-color: var(--iris);
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px rgba(129, 97, 97, 0.15);
}

.footer-form-group input::placeholder{
    color: var(--white);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
}

.footer-form-group button{
    color: var(--white);
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    background: var(--iris);
    transition: all var(--transition-duration) var(--o-animation-timing-function);
}

.footer-form-group .icon-paper-airplane{
    margin-left: 16px;
}

.footer-form-group button[type=submit]:hover {
    cursor: pointer;
    background-color: var(--ocean);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
}


/*--End of Footer-*/

/*Modal*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.40);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    transition-property: visibility, opacity, transform;
    transition-duration: var(--animation-timing-function) var(--animation-timing-function);
    transform: none;
}

.modal.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal.is-hidden .modal-content {
    transform: scale(0.95)
}

.modal-content {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background: var(--dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: relative;
    transform: none;
    transition: transform var(--transition-duration) var(--animation-timing-function);

}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 26px;
    height: 26px;
    border: solid 1px rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    background: var(--cornflower);
    color: var(--navyblue);
    transition: background-color var(--transition-duration) var(--animation-timing-function), color var(--transition-duration) var(--animation-timing-function);
}

.modal-close:hover {
    background: var(--ocean);
    border-color: ocean;
    color: var(--cloud);
}

.modal-close svg {
    fill: currentColor;
    transition: fill var(--transition-duration) var(--animation-timing-function);
}

.modal-close:hover svg {
    fill: var(--white);
}

.modal-header{
    width: 360px;
    color: var(--navyblue);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
    gap: 16px;
}

.modal-form-group{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.modal-form-group label{
    color: var(--lightslate);
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16em;
    letter-spacing: 0.48px;
}

.modal-form-group .modal-input{
    width: 360px;
    height: 40px;
    background-color: var(--dairy);
    border-radius: 4px;
    border: 1px solid var(--navybluemodal);
    margin-top: 4px;
    padding-left: 38px;
    font-family: inherit;
    transition-property: border;
    transition: var(--transition-duration) var(--animation-timing-function);
}

.modal-form-icon{
    display:flex;
    position: absolute;
    margin: 12px;
    fill: var(--navyblue);
}


.modal-textarea{
    display: block;
    width: 360px;
    height: 120px;
    background-color: var(--dairy);
    color: var(--lightslate);
    border-radius: 4px;
    border: 1px solid var(--navybluemodal);
    padding: 8px 0 0 16px;
    margin-top: 4px;
    resize: none;
    transition-property: border;
    transition: var(--transition-duration) var(--animation-timing-function) ;
}

.modal-textarea::placeholder{
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16em;
    letter-spacing: 0.48px;
}

.modal-input:hover,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
    border: 1px solid var(--iris);
}

.form-label:hover svg,
.form-label:focus-within svg{
    fill: var(--iris);
}

.modal-form-group-agree{
    display: flex;
    align-items: center;
}

.modal-form-group-agree label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: inherit, sans-serif;
    color: var(--lightslate);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16em;
    letter-spacing: 0.48px;
    cursor: pointer;
}

.modal-form-group-agree input{
    appearance: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.icon-checkmark{
    width: 16px;
    height: 16px;
    border: 1px solid var(--navybluemodal);
    border-radius: 2px;
    padding: 3px;
    fill: none;
    transition: fill var(--transition-duration) var(--animation-timing-function);
}

.icon-checkmark:hover{
    border-color: var(--ocean);
}

.modal-form-group-agree input:checked + svg{
    border: 0;
    background-color: var(--ocean);
    fill: var(--white);
}

.agree-label-link{
    color: var(--iris);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
    transition-property: color, text-decoration-color;
    transition: var(--transition-duration) var(--animation-timing-function);
}

.agree-label-link:hover,
.agree-label-link:focus {
    color: var(--ocean);
    text-decoration: none;
}

.modal-submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal-submit-btn button{
    color: var(--white);
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.64px;
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    background-color: var(--iris);
    transition-property: background-color, color;
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.modal-submit-btn button:hover{
    background: var(--ocean);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
/* End of Modal */

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    .header-nav {
        padding: 24px 0px;
    }

    .nav-list-item-link::after {
        bottom: -15px;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 0px;
    }

    .address-item-link {
        color: var(--slate);
        font-family: inherit;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.16em;
        letter-spacing: 0.48px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero {
        background-image: unset;
        background: linear-gradient(50deg, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url('../images/hero/hero-tablet-bg.jpg') no-repeat center;
        background-size: cover;
        padding: 188px 0;
    }

    .hero-heading {
        font-size: 56px;
        line-height: 1.07em;
        letter-spacing: 1.12px;
    }

    .features-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }

    .features-list-item {
        width: calc((100% - 24px) / 2);
    }

    .features-icon {
        display: none;
    }

    .feature-heading {
        color: var(--navyblue);
        font-family: inherit;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11em;
        letter-spacing: 0.72px;
        margin: 8px 0px;
    }

    .services-container h2 {
        display: none;
    }

    .services-list {
        display: none;
    }

    .team {
        padding: 96px 0;
    }

    .team-member-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
        margin-top: 72px;
    }

    .customers-list-container {
        width: 552px;
    }

    .customers-list {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-top: 72px;
    }

    .customers-list-item {
        padding: 16px 32px;
    }

    .icon-client {
        display: flex;
        justify-content: center;
        width: 110px;
        height: 56px;
        fill: currentColor;
        transition: all var(--transition-duration) var(--animation-timing-function);
    }

    .footer {
        background-color: var(--navyblue);
        color: var(--white);
        display: flex;
        flex-direction: row;
        gap: 40px;
        height: 456px;
        width: 100%;
        padding: 96px 0;
    }

    .f-container {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        row-gap: 0px;
        column-gap: 72px;
        margin: 0 108px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 17.5px;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-logo {
        margin-right: 150px;
    }

    .footer-social-container {
        display: flex;
        flex-direction: column;
        gap: 17.5px;
        justify-content: center;
        align-items: flex-start;
        margin-top: -38px;
    }

    .footer-header {
        margin-top: 2px;
        text-align: left;
    }

    .footer-subscribe-container {
        display: block;
        flex-direction: row;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        gap: 72px;
        padding-top: 16px;
    }

    .footer-form-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 72px;
    }

    .footer-form input {
        width: 270px;
        transition: all var(--transition-duration) var(--o-animation-timing-function);
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        margin: 0 auto;
    }

    .header-nav {
        padding: 24px 0px;
    }

    .nav-list-item-link::after {
        bottom: -25px;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 24px 0px;
    }

    .address-item-link {
        color: var(--slate);
        font-family: inherit;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 0.32px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero {
        background-color: var(--navybluemodal);
        background: linear-gradient(50deg, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url('../images/hero/hero-desktop-bg.jpg') no-repeat center;
        background-size: cover;
        padding: 188px 0;
    }

    .hero-heading {
        font-size: 56px;
        line-height: 1.07em;
        letter-spacing: 1.12px;
    }

    .features-list {
        display: inline-flex;
        justify-content: center;
        list-style-type: none;
        gap: 24px;
    }

    .features-list-item {
        width: 264px;
        gap: 8px;
    }

    .features-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background: var(--cloud);
        padding: 24px 100px;
    }

    .feature-heading {
        color: var(--navyblue);
        font-family: inherit;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: 0.4px;
        margin: 8px 0px;
    }

    .feature-heading {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: 0.4px;
        margin: 8px 0px;
    }

    .services {
        padding-bottom: 120px;
    }

    .services-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        gap: 24px;
        margin-top: 72px;
    }

    .team {
        padding: 120px 0;
    }

    .team-member-list {
        display: inline-flex;
        justify-content: center;
        list-style-type: none;
        gap: 24px;
        margin-top: 72px;
    }

    .customers-list-container {
        width: 100%;
    }

    .customers-list {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-top: 72px;
    }

    .customers-list-item {
        padding: 16px 32px;
    }

    .icon-client {
        display: flex;
        justify-content: center;
        width: 104px;
        height: 56px;
        fill: currentColor;
        transition: all var(--transition-duration) var(--animation-timing-function);
    }

    .footer {
        background-color: var(--navyblue);
        color: var(--white);
        display: flex;
        justify-content: flex-start;
        height: 312px;
        margin: 0 auto;
        padding: 96px 0;
    }

    .f-container {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: flex-start;
        align-items: center;
        gap: 100px;
        margin: 0;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 17.5px;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-logo {
        margin-right: 150px;
    }

    .footer-social-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-top: -38px;
        gap: 16px;
    }

    .footer-header {
        text-align: left;
    }

    .footer-subscribe-container {
        display: block;
        margin-top: -38px;
        gap: 16px;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        gap: 24px;
    }

    .footer-form-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0px;
    }

    .footer-form input {
        width: 264px;
        transition: all var(--transition-duration) var(--o-animation-timing-function);
    }
}